.button-loading {
    border: 1px solid #c4cdd5;
    cursor: default;
    text-shadow: none;
    color: transparent !important;
    position: relative;
    -webkit-transition: border-color 0.2s ease-out;
    transition: border-color 0.2s ease-out;
}

.button-loading,
.button-loading:hover,
.button-loading:focus,
.button-loading:active {
    color: transparent;
}

.button-loading:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    border-width: 3px;
    border-style: solid;
    margin-top: -9px;
    margin-left: -9px;
    width: 18px;
    height: 18px;
    -webkit-animation: button-loading-spinner 0.7s linear infinite;
    animation: button-loading-spinner 1s linear infinite;
    border-color: #ffffff;
    border-bottom-color: transparent;
}

.button-loading {
    &.btn-fill-out {
        color: transparent !important;
        border: 1px solid var(--color-primary);

        &:before {
            width: 18px;
            background-color: transparent;
            border-color: var(--color-primary);
            border-bottom-color: transparent;
        }

        &:after {
            display: none;
        }
    }
}

.required:after {
    content: " *";
    color: red;
}

@-webkit-keyframes button-loading-spinner {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes button-loading-spinner {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#alert-container {
    top: 100px;
    right: 5px;
    position: fixed;
    z-index: 9999999;

    .alert {
        max-width: 450px !important;
        min-height: 45px !important;
        font-weight: 400;
        position: relative;
        padding: 15px 40px 15px 60px;
        margin-bottom: 10px;
        box-shadow: 0 4px 10px 0 rgba(3, 3, 3, 0.1);

        &.alert-success {
            color: #299c77;
            background-color: #bff9d0;
        }

        .message-icon {
            position: absolute;
            left: 5%;
            top: 30%;
            font-size: 20px;
            fill: #299c77;
            stroke: #299c77;
        }

        &.alert-dismissible {
            .close {
                position: absolute;
                top: 20px;
                right: 15px;
                font-size: 10px;
                padding: 0;
            }
        }
    }
}

body.show-admin-bar {
    #alert-container {
        top: 140px;
    }

    .header-sticky {
        &.sticky-bar {
            top: 40px;
        }
    }
}

.language-wrapper {
    margin-left: 15px;

    .dropdown-toggle {
        color: #333 !important;
        background-color: transparent !important;
        border-color: transparent !important;
        outline: none !important;
        box-shadow: none !important;

        &:hover {
            transform: none;
            transition: none;
        }

        &:after {
            display: none;
        }
    }

    .language_bar_chooser {
        display: block;
        float: right;
        width: 100%;
        line-height: 58px;
        text-align: center;

        li {
            display: inline-block;
            float: left;
            margin-left: 5px;
        }

        &.dropdown-menu {
            display: none;
            border-radius: 0 !important;
            min-width: 100%;

            li {
                width: 100%;
                margin: 0;
                display: block;

                img {
                    margin: 0 10px 0 0;
                }

                a {
                    display: flex !important;
                    width: 100%;
                    text-align: left;
                    padding: 0 10px;
                    height: 40px;
                    align-items: center;
                }
            }
        }
    }

    .dropdown.open {
        .language_bar_chooser {
            &.dropdown-menu {
                display: block;
            }
        }
    }

    .btn {
        border: none;
        background: none;
        margin-bottom: 0;
        height: 40px;
        border-radius: 0 !important;
    }

    .language_bar_list {
        li {
            display: inline-block;
            margin-left: 5px;

            a {
                text-align: left;
                font-size: 12px;

                span {
                    color: var(--color-muted);
                }

                img {
                    float: left;
                    margin-right: 8px;
                    margin-top: 2px;
                    width: 20px;
                }
            }
        }
    }
}

.half-circle-spinner,
.half-circle-spinner * {
    box-sizing: border-box;
}

.half-circle-spinner {
    width: 30px;
    height: 30px;
    margin: 20px auto;
    border-radius: 100%;
    position: relative;
}

.half-circle-spinner .circle {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 2px solid transparent;
    background: none;
    box-shadow: none;
    margin: 0;
}

.half-circle-spinner .circle.circle-1 {
    border-top-color: var(--color-primary);
    animation: half-circle-spinner-animation 1s infinite;
}

.half-circle-spinner .circle.circle-2 {
    border-bottom-color: var(--color-primary);
    animation: half-circle-spinner-animation 1s infinite alternate;
}

@keyframes half-circle-spinner-animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.sidebar-inner {
    width: 100%;

    .sidebar-inner-loading {
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        text-align: center;
    }
}

.widget_categories {
    ul.font-small {
        li {
            border-bottom: 1px dotted rgba(0, 0, 0, 0.15);
            display: table;
            width: 100%;
            padding: 8px 0;

            a {
                text-align: left;
                padding: 0;
            }
        }
    }
}

.main-menu {
    .current-menu-item {
        a {
            color: var(--color-primary);
        }
    }
}

.header-select-language {
    padding: 10px 0;
    vertical-align: middle;
    font-size: 13px;

    .language-wrapper {
        margin-left: 0;
        display: flex !important;
        align-items: center;

        > span {
            display: inline-block;
            margin-right: 5px;
        }

        .language_bar_list {
            display: inline-block;
        }
    }
}

.single-content {
    article.entry-wraper {
        ol,
        ul {
            padding-left: 25px;
            list-style: disc;

            li {
                font-weight: 400;
                list-style: disc;
            }
        }

        table {
            border: 1px solid #dee2e6;
            width: 100%;
            margin-bottom: 1rem;
            background-color: transparent;
            border-collapse: collapse;

            caption {
                font-size: 90%;
                padding: 10px 0;
                text-align: center;
                color: #6c757d;
                font-weight: 500;
                caption-side: top;
            }

            th {
                vertical-align: bottom;
                padding: 0.75rem;
                border: 1px solid #dee2e6;
                border-bottom-width: 2px;
            }

            td {
                border: 1px solid #dee2e6;
            }

            tbody {
                tr {
                    th {
                        border-bottom-width: 1px;
                    }
                }
            }

            blockquote {
                margin: 0 0 1rem;
                padding: 2px 0;
                padding-left: 20px;
                padding-right: 8px;
                border-width: 0;
                border-left-width: 5px;
                font-style: italic;
                border-style: solid;
                border-color: #ccc;

                p {
                    font-size: 14px;
                    line-height: 40px;
                    margin-bottom: 0;
                }
            }
        }
    }
}

.pagination {
    .page-item.active .page-link {
        background-color: var(--color-dark);
        color: var(--color-white);
    }
}

.loop-list-style-2 article {
    box-shadow: var(--box-shadow-normal);
}

#list-photo {
    .item {
        margin-bottom: 0;

        .photo-item {
            padding: 12px;

            .thumb {
                box-shadow: none;
                padding: 0;

                &:hover {
                    background: none;
                }
            }

            img {
                border: none;
            }
        }
    }
}

.gallery-wrap {
    .gallery-item {
        .gallery-detail {
        }
    }
}

.slicknav_nav a {
    margin-left: 0;
}

.google-map {
    height: 400px;
    width: 100%;
    position: relative;
    text-align: right;

    > div {
        height: 400px;
        width: 100%;
        overflow: hidden;
        background: none !important;
    }
}

.category {
    .post-thumb {
        background-size: cover;
    }
}

.categories-list-2 {
    h3.post-title {
        font-size: 36px;
        line-height: 48px;
    }
}

@media only screen and (max-width: 480px) {
    .pt-65 {
        padding-top: 35px !important;
    }
    .pb-65 {
        padding-bottom: 35px !important;
    }
    .mb-65 {
        margin-bottom: 35px !important;
    }
    .pt-100 {
        padding-top: 50px !important;
    }
    .p-30 {
        padding: 15px;
    }
    .carousel-post-1 .thumb-overlay {
        min-height: 420px;
    }
    .post-content-overlay.layout-2 {
        padding: 20px;
    }
    .post-card-1 .thumb-overlay {
        min-height: 157px;
    }
    .our-office .w-50 {
        width: 100%;
    }
}

@media (min-width: 320px) {
    .archive-header {
        flex-direction: column-reverse;
    }
    h1.font-heading,
    h1.post-title,
    h1.post-title {
        font-size: 32px;
        line-height: 1.4;
    }
    .display-2 {
        font-size: 32px;
        line-height: 1.4;
    }
}

@media (min-width: 992px) {
    .archive-header {
        flex-direction: row;
    }
    h1.font-heading,
    h1.post-title,
    h1.post-title {
        font-size: 56px;
        line-height: 72px;
    }
    .display-2 {
        font-size: 72px;
        line-height: 108px;
    }
}

.entry-main-content h2 {
    font-size: 48px;
    line-height: 64px;
}

.toc-container {
    border: 1px solid var(--color-dark);
}

.featured-slider-1-items {
    &:not(.slick-slider) .slider-single {
        display: none;
    }

    .slider-single:nth-child(1) {
        display: block;
    }
}
.gallery-shortcode {
    display: flex;
    flex-wrap: wrap;
    .item {
        flex-grow: 1;
        width: 33%;
        padding: 5px;
    }
}